# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Node.js dependencies in frontend
frontend/node_modules/
frontend/package-lock.json

# Node.js dependencies and files at root
node_modules/
package-lock.json
npm-debug.log*
.npm/

# Environment and secrets
.env
.keys
.env.*
!.env.example
.env.local
.secrets
icr-credentials.json

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# MyPy
.mypy_cache/

#logs
app/logs/*